extends layout

block content
  h1= title
  p You have reached the API for Scott Lai's homepage.
  p It features the following endpoints:
  ul
    li /education
    li /courses
    li /skills
    li /projects
    li /experience
    li /honors
    li /certifications
  p Check out the #[a(href='https://github.com/scottwlai/homepage?tab=readme-ov-file#readme', target='_blank') project documentation] for query options.
